---
import Search from "../components/Search";
import Layout from "../layouts/Layout.astro";
---

<Layout title="s'Echo vom Chääääs">
  <nav
    class="h-[3.5rem] bg-cc-100 flex justify-between items-center text-cc-400 text-[1.5rem]"
  >
    <div class="h-[3.5rem] leading-[3.275rem] mx-10"><a href="">Home</a></div>
    <div class="flex gap-10 mx-10 items-center">
      <a href="">Cheesefinder</a>
      <a href="">About</a>
      <a
        href=""
        class="bg-cc-400 text-cc-200 rounded-lg px-3 border-cc-200 border-solid border-2"
        >Contact</a
      >
    </div>
  </nav>
  <div class="h-full w-full flex justify-center text-cc-400">
    <div class="m-20">
      <h1 class="text-9xl">S'Echo <br /> vom Chääääs</h1>
      <p class="text-3xl text-cc-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestiae
        accusamus illum libero velit beatae praesentium provident repellendus,
        veniam, quaerat esse exercitationem hic architecto placeat, et quam sunt
        adipisci debitis!
      </p>
    </div>
    <video autoplay muted>
      <source src="videos/1.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="mt-5 w-full flex justify-center">
    <Search client:load />
  </div>
</Layout>
